In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('flipkart_bbd_sales_messy.csv')

In [3]:
df

,order_id,order_date,customer_id,customer_name,city,product_id,product_name,brand,category,quantity,cost_price,selling_price,item_cost,item_revenue,loss,discount_percent,revenue,cost,profit
0,1,2024-10-11,12,Danielle Sanchez,LAKE CATHERINE,165,LG Beauty Product 165,LG,NaN,1,26148.45,36330.18,26148.45,36330.18,-10181.73,0.0,94026.85,75383.23,18643.62
1,1,2024-10-11,12,Danielle Sanchez,LAKE CATHERINE,137,Philips Grocery Product 137,Philips,Grocey,3,11944.70,13355.27,35834.10,40065.81,-4231.71,0.0,94026.85,75383.23,18643.62
2,1,2024-10-11,12,Danielle Sanchez,LAKE CATHERINE,45,Nike Books Product 45,Nike,Boks,2,6700.34,8815.43,13400.68,17630.86,-4230.18,0.0,94026.85,75383.23,18643.62
3,868,2024-10-02,12,Danielle Sanchez,Lake Catherine,180,Dell Books Product 180,NaN,Boks,2,23562.46,32366.73,47124.92,64733.46,-17608.54,0.0,203848.46,145705.44,58143.02
4,868,2024-10-02,12,Danielle Sanchez,LAKE CATHERINE,4,Tata Beauty Product 4,Tata,Beuty,3,29605.07,42234.37,88815.21,126703.11,-37887.90,0.0,203848.46,145705.44,58143.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3096,534,2024-10-07,430,Ann Ray,North Scotttown,148,Nike Beauty Product 148,Nike,Beuty,1,21887.89,31179.51,21887.89,31179.51,-9291.62,0.0,85645.38,72233.14,13412.24
3097,457,2024-10-14,102,Melanie Johnson,Teresatown,184,Philips Grocery Product 184,Philips,Grocey,3,2885.49,3980.98,8656.47,11942.94,-3286.47,0.0,163101.67,131738.92,31362.75
3098,806,2024-10-09,223,Michael Osborn,paulchester,198,Sony Home Appliances Product 198,Sony,Home Appliances,1,14250.77,18366.96,14250.77,18366.96,-4116.19,0.0,135570.60,105466.81,30103.79
3099,141,2024-10-01,326,Breanna Wright,freemanside,58,Dell Books Product 58,NaN,NaN,2,24384.35,31033.73,48768.70,62067.46,-13298.76,0.0,165845.88,124149.27,41696.61
3100,145,2024-10-06,247,Theresa Davila,hansontown,154,Philips Beauty Product 154,Philips,Beuty,1,11660.54,16341.73,11660.54,16341.73,-4681.19,0.0,195967.89,152928.03,43039.86

In [4]:
df.isnull().any()

order_id            False
order_date          False
customer_id         False
customer_name        True
city                 True
product_id          False
product_name        False
brand                True
category             True
quantity            False
cost_price           True
selling_price        True
item_cost           False
item_revenue        False
loss                False
discount_percent    False
revenue             False
cost                False
profit              False
dtype: bool

In [5]:
df[df['customer_name'].isna()==1]

,order_id,order_date,customer_id,customer_name,city,product_id,product_name,brand,category,quantity,cost_price,selling_price,item_cost,item_revenue,loss,discount_percent,revenue,cost,profit
36,712,2024-10-13,417,NaN,north justinberg,184,Philips Grocery Product 184,Philips,Grocey,1,2885.49,3980.98,2885.49,3980.98,-1095.49,0.0,109186.87,86486.01,22700.86
47,894,2024-10-09,216,NaN,fernandezstad,34,LG Electronics Product 34,LG,NaN,1,26675.55,34026.08,26675.55,34026.08,-7350.53,0.0,43505.24,33375.45,10129.79
75,812,2024-10-01,164,NaN,Lake Stephanie,36,Tata Beauty Product 36,Tata,Beuty,2,12355.90,unknown,24711.80,36854.56,-12142.76,0.0,133573.54,100801.23,32772.31
99,442,2024-10-03,360,NaN,christineburgh,111,Nike Toys Product 111,Nike,Toys,2,5398.85,6463.07,10797.70,12926.14,-2128.44,0.0,169239.39,126811.57,42427.82
100,531,2024-10-12,360,NaN,CHRISTINEBURGH,195,Tata Grocery Product 195,Tata,Grocey,2,28237.43,38187.38,56474.86,76374.76,-19899.90,0.0,261388.63,198080.32,63308.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3010,977,2024-10-01,443,NaN,east shawnstad,171,Philips Beauty Product 171,Philips,Beuty,3,15855.67,18299.38,47567.01,54898.14,-7331.13,0.0,179933.39,133938.59,45994.80
3064,929,2024-10-10,390,NaN,WEST JESSICASTAD,136,Sony Beauty Product 136,Sony,Beuty,1,NaN,13459.06,12657.39,13459.06,-801.67,0.0,159118.77,116363.78,42754.99
3069,482,2024-10-03,312,NaN,North Jamesfort,196,LG Books Product 196,LG,Boks,3,20535.01,23267.3,61605.03,69801.90,-8196.87,0.0,230230.48,185253.46,44977.02
3074,582,2024-10-02,190,NaN,LAKE MELISSA,46,LG Grocery Product 46,LG,Grocey,2,18724.03,26941.11,37448.06,53882.22,-16434.16,0.0,286624.46,227373.90,59250.56
3088,184,2024-10-14,405,NaN,East Jay,10,Philips Sports Product 10,Philips,Sports,2,16622.34,22404.78,33244.68,44809.56,-11564.88,0.0,86715.74,70882.04,15833.70

In [6]:
df['customer_name']=df['customer_name'].fillna('unknown')

In [7]:
df[df['city'].isna()==1]

,order_id,order_date,customer_id,customer_name,city,product_id,product_name,brand,category,quantity,cost_price,selling_price,item_cost,item_revenue,loss,discount_percent,revenue,cost,profit
7,868,2024-10-02,12,Danielle Sanchez,NaN,98,Puma Sports Product 98,Puma,Sports,1,7204.09,8945.29,7204.09,8945.29,-1741.20,0.0,203848.46,145705.44,58143.02
62,453,2024-10-13,164,Kristin Fisher,NaN,165,LG Beauty Product 165,LG,Beuty,2,26148.45,36330.18,52296.90,72660.36,-20363.46,0.0,196063.89,144833.41,51230.48
109,796,2024-10-14,453,Debra Diaz,NaN,2,LG Fashion Product 2,LG,Fashion,3,NaN,7415.76,18028.02,22247.28,-4219.26,0.0,91316.88,76763.54,14553.34
139,27,2024-10-04,256,Garrett Anderson,NaN,110,Dell Fashion Product 110,NaN,Fashion,1,29324.31,34660.41,29324.31,34660.41,-5336.10,0.0,248950.74,190756.64,58194.10
147,878,2024-10-14,77,Gary Walker,NaN,4,Tata Beauty Product 4,Tata,Beuty,3,NaN,42234.37,88815.21,126703.11,-37887.90,0.0,274410.51,210051.87,64358.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2889,847,2024-10-07,433,Ricky Flynn,NaN,6,Dell Toys Product 6,Dell,Toys,1,7618.71,8848.8,7618.71,8848.80,-1230.09,0.0,8848.80,7618.71,1230.09
2947,703,2024-10-14,340,Luis Walton,NaN,12,Puma Books Product 12,Puma,Boks,1,17728.79,23555.19,17728.79,23555.19,-5826.40,0.0,144698.70,108627.26,36071.44
2991,272,2024-10-05,198,Nicole Cline,NaN,14,Apple Books Product 14,Apple,Boks,1,11732.63,13986.29,11732.63,13986.29,-2253.66,0.0,13986.29,11732.63,2253.66
3005,954,2024-10-02,73,unknown,NaN,9,Philips Books Product 9,Philips,Boks,3,16346.94,19733.6,49040.82,59200.80,-10159.98,0.0,151160.44,119639.41,31521.03
3014,930,2024-10-04,333,James Wood,NaN,183,Sony Electronics Product 183,Sony,Electronics,1,23335.11,25110.47,23335.11,25110.47,-1775.36,0.0,44499.68,39531.66,4968.02

In [8]:
df['city']=df['city'].fillna('NotListed')

In [9]:
df['product_name'].unique()

array(['LG Beauty Product 165', 'Philips Grocery Product 137',
       'Nike Books Product 45', 'Dell Books Product 180',
       'Tata Beauty Product 4', 'Nike Home Appliances Product 105',
       'Puma Sports Product 173', 'Puma Sports Product 98',
       'Nike Beauty Product 149', 'Sony Beauty Product 136',
       'Adidas Grocery Product 86', 'Sony Home Appliances Product 22',
       'Dell Toys Product 156', 'Sony Books Product 18',
       'Adidas Fashion Product 33', 'Nike Fashion Product 190',
       'Sony Toys Product 26', 'Sony Electronics Product 94',
       'Nike Books Product 151', 'Sony Beauty Product 90',
       'LG Electronics Product 34', 'Apple Fashion Product 101',
       'Adidas Electronics Product 109',
       'Samsung Home Appliances Product 27', 'Sony Beauty Product 25',
       'Sony Home Appliances Product 153', 'Dell Grocery Product 54',
       'Tata Beauty Product 36', 'Nike Home Appliances Product 85',
       'Apple Home Appliances Product 24', 'Samsung Toys Product 119',
       'Adidas Beauty Product 66', 'Philips Grocery Product 184',
       'Apple Fashion Product 82', 'Tata Books Product 106',
       'Dell Grocery Product 115', 'Nike Beauty Product 48',
       'Apple Sports Product 63', 'LG Grocery Product 41',
       'Sony Home Appliances Product 108', 'Tata Sports Product 8',
       'Samsung Toys Product 92', 'Philips Electronics Product 47',
       'LG Sports Product 142', 'Nike Sports Product 147',
       'Nike Electronics Product 44', 'Philips Electronics Product 167',
       'Puma Books Product 12', 'Tata Toys Product 28',
       'Puma Home Appliances Product 93', 'Apple Toys Product 133',
       'Dell Books Product 58', 'Samsung Sports Product 187',
       'Adidas Grocery Product 107', 'Philips Beauty Product 97',
       'Puma Electronics Product 199', 'Puma Electronics Product 84',
       'LG Toys Product 157', 'Adidas Toys Product 112',
       'Dell Fashion Product 53', 'Puma Electronics Product 56',
       'Sony Sports Product 122', 'Nike Books Product 61',
       'Philips Home Appliances Product 144',
       'Adidas Fashion Product 103', 'Apple Fashion Product 83',
       'Nike Grocery Product 166', 'Tata Grocery Product 117',
       'LG Grocery Product 46', 'Nike Electronics Product 60',
       'Philips Sports Product 10', 'Dell Sports Product 152',
       'Nike Toys Product 111', 'Tata Grocery Product 195',
       'Apple Home Appliances Product 161', 'Dell Books Product 74',
       'Puma Sports Product 160', 'Adidas Electronics Product 20',
       'LG Fashion Product 2', 'Philips Books Product 9',
       'LG Books Product 50', 'Puma Electronics Product 181',
       'Samsung Toys Product 42', 'Sony Beauty Product 127',
       'Dell Toys Product 16', 'Sony Electronics Product 135',
       'Puma Grocery Product 140', 'Sony Beauty Product 19',
       'Samsung Beauty Product 163', 'Philips Beauty Product 171',
       'Samsung Home Appliances Product 134', 'Sony Grocery Product 116',
       'Adidas Fashion Product 150', 'LG Sports Product 32',
       'Dell Fashion Product 110', 'LG Grocery Product 71',
       'Apple Home Appliances Product 186',
       'Samsung Home Appliances Product 95', 'Sony Beauty Product 194',
       'Tata Fashion Product 197', 'Apple Books Product 13',
       'Puma Sports Product 40', 'Nike Books Product 155',
       'Philips Electronics Product 100', 'Nike Grocery Product 164',
       'Adidas Electronics Product 49', 'Tata Electronics Product 130',
       'Sony Home Appliances Product 29', 'Dell Books Product 168',
       'LG Home Appliances Product 96', 'Apple Fashion Product 52',
       'Philips Books Product 138', 'Samsung Fashion Product 79',
       'Dell Home Appliances Product 141', 'LG Grocery Product 99',
       'Adidas Grocery Product 76', 'Apple Grocery Product 69',
       'Tata Sports Product 3', 'Apple Books Product 62',
       'LG Beauty Product 59', 'Tata Beauty Product 132',
       'Apple Beauty Product 120', 'Puma Grocery Product 91',
       'Puma Books Product 185', 'Sony Beauty Product 104',
       'Puma Sports Product 21', 'LG Books Product 196',
       'Dell Electronics Product 124', 'Puma Books Product 176',
       'Apple Toys Product 89', 'Sony Electronics Product 191',
       'Apple Fashion Product 55', 'Tata Home Appliances Product 67',
       'Adidas Books Product 182', 'Philips Books Product 179',
       'Puma Home Appliances Product 43', 'LG Beauty Product 70',
       'Apple Home Appliances Product 123', 'Dell Fashion Product 192',
       'Tata Grocery Product 139', 'Adidas Books Product 174',
       'Dell Home Appliances Product 146', 'Tata Sports Product 188',
       'Puma Books Product 159', 'Dell Home Appliances Product 128',
       'Dell Books Product 81', 'LG Electronics Product 88',
       'Samsung Beauty Product 172', 'Philips Beauty Product 126',
       'Sony Electronics Product 183', 'Tata Toys Product 75',
       'Puma Grocery Product 77', 'Samsung Books Product 200',
       'Philips Grocery Product 37', 'Nike Sports Product 80',
       'Samsung Fashion Product 17', 'Tata Electronics Product 78',
       'LG Grocery Product 169', 'Adidas Beauty Product 65',
       'Sony Home Appliances Product 198', 'Philips Beauty Product 154',
       'Puma Beauty Product 1', 'Tata Home Appliances Product 15',
       'Sony Toys Product 30', 'Sony Grocery Product 125',
       'Puma Toys Product 193', 'Philips Grocery Product 31',
       'Samsung Beauty Product 72', 'Samsung Grocery Product 189',
       'Tata Books Product 143', 'Puma Beauty Product 162',
       'Philips Home Appliances Product 170',
       'Tata Electronics Product 87', 'Nike Beauty Product 148',
       'Apple Home Appliances Product 23', 'Puma Grocery Product 64',
       'Apple Books Product 14', 'Nike Home Appliances Product 118',
       'Nike Grocery Product 131', 'Apple Home Appliances Product 68',
       'Nike Beauty Product 178', 'Samsung Beauty Product 38',
       'Sony Home Appliances Product 121', 'Samsung Fashion Product 175',
       'Nike Fashion Product 145', 'Puma Electronics Product 73',
       'Sony Beauty Product 7', 'Sony Electronics Product 102',
       'Puma Home Appliances Product 57', 'Samsung Beauty Product 114',
       'Nike Electronics Product 177', 'Nike Beauty Product 129',
       'Adidas Sports Product 158', 'Puma Electronics Product 39',
       'LG Grocery Product 35', 'Puma Electronics Product 113',
       'Dell Toys Product 6', 'Philips Beauty Product 5',
       'Apple Beauty Product 11', 'Nike Beauty Product 51'], dtype=object)

In [10]:
df['inferred_brand'] = df['product_name'].str.strip().str.split().str[0]

In [11]:
df['brand'] = df['brand'].fillna(df['inferred_brand'])

In [12]:
df.drop(columns=['inferred_brand'], inplace=True)

In [13]:
df[df['category'].isna()==1]

,order_id,order_date,customer_id,customer_name,city,product_id,product_name,brand,category,quantity,cost_price,selling_price,item_cost,item_revenue,loss,discount_percent,revenue,cost,profit
0,1,2024-10-11,12,Danielle Sanchez,LAKE CATHERINE,165,LG Beauty Product 165,LG,NaN,1,26148.45,36330.18,26148.45,36330.18,-10181.73,0.0,94026.85,75383.23,18643.62
22,445,2024-10-13,172,Kathleen Robinson,East Allison,34,LG Electronics Product 34,LG,NaN,2,26675.55,34026.08,53351.10,68052.16,-14701.06,0.0,153603.94,117753.84,35850.10
47,894,2024-10-09,216,unknown,fernandezstad,34,LG Electronics Product 34,LG,NaN,1,26675.55,34026.08,26675.55,34026.08,-7350.53,0.0,43505.24,33375.45,10129.79
50,198,2024-10-08,216,Morgan Berry,fernandezstad,47,Philips Electronics Product 47,Philips,NaN,3,1935.71,2306.12,5807.13,6918.36,-1111.23,0.0,6918.36,5807.13,1111.23
56,231,2024-10-14,306,Ms. Cheryl Copeland,Lake Marystad,167,Philips Electronics Product 167,Philips,NaN,2,16714.99,23615.87,33429.98,47231.74,-13801.76,0.0,212028.07,163103.92,48924.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3076,445,2024-10-13,172,Kathleen Robinson,EAST ALLISON,34,LG Electronics Product 34,LG,NaN,2,NaN,34026.08,53351.10,68052.16,-14701.06,0.0,153603.94,117753.84,35850.10
3077,749,2024-10-10,8,Carlos Edwards,east jacob,147,Nike Sports Product 147,Nike,NaN,3,18993.21,20958.62,56979.63,62875.86,-5896.23,0.0,119621.13,97860.69,21760.44
3080,833,2024-10-03,382,Steven Burke,LAKE JORDAN,119,Samsung Toys Product 119,Samsung,NaN,3,18823.24,23702.27,56469.72,71106.81,-14637.09,0.0,131315.76,103500.27,27815.49
3081,116,2024-10-08,17,Mary Daniel,Merritttown,69,Apple Grocery Product 69,Apple,NaN,2,NaN,7050.45,10187.50,14100.90,-3913.40,0.0,29771.03,20709.86,9061.17
3099,141,2024-10-01,326,Breanna Wright,freemanside,58,Dell Books Product 58,Dell,NaN,2,24384.35,31033.73,48768.70,62067.46,-13298.76,0.0,165845.88,124149.27,41696.61

In [14]:
df['fake_cat'] = df['product_name'].str.strip().str.split().str[1]

In [15]:
df['category'] = df['category'].fillna(df['fake_cat'])

In [16]:
df['category'] = df['category'].replace({'Home':'Home Appliances'})

In [17]:
df.drop(columns=['fake_cat'], inplace=True)

## FILLING NULL VALUES IN  COST_PRICE  SELLING_PRICE  GROUPED MEDIAN IMPUTATION ##

In [18]:
df['cost_price_imputed'] = df['cost_price'].isna().astype(int)
df['selling_price_imputed'] = df['selling_price'].isna().astype(int)

In [19]:
df['cost_price'] = pd.to_numeric(df['cost_price'], errors='coerce')
df['selling_price'] = pd.to_numeric(df['selling_price'], errors='coerce')

In [20]:
category_cost_medians = df.groupby('category')['cost_price'].median()
category_selling_medians = df.groupby('category')['selling_price'].median()

In [21]:
df['category_cost_median'] = df['category'].map(category_cost_medians)
df['category_selling_median'] = df['category'].map(category_selling_medians)

In [22]:
df['cost_price'] = df['cost_price'].fillna(df['category_cost_median'])
df['selling_price'] = df['selling_price'].fillna(df['category_selling_median'])

In [23]:
df.drop(['category_cost_median', 'category_selling_median'], axis=1, inplace=True)

## FINDING DUPLICATES ##

In [24]:
df.duplicated().any()

np.True_

In [25]:
df[df.duplicated()]

,order_id,order_date,customer_id,customer_name,city,product_id,product_name,brand,category,quantity,...,selling_price,item_cost,item_revenue,loss,discount_percent,revenue,cost,profit,cost_price_imputed,selling_price_imputed
154,878,2024-10-14,77,Gary Walker,lake tammyland,13,Apple Books Product 13,Apple,Boks,2,...,18761.76,34469.88,37523.52,-3053.64,0.0,274410.51,210051.87,64358.64,0,0
881,968,2024-10-03,65,Joshua Barnett,Perryshire,119,Samsung Toys Product 119,Samsung,Toys,3,...,23702.27,56469.72,71106.81,-14637.09,0.0,217741.13,171815.49,45925.64,0,0
2324,469,2024-10-02,249,Brady Johnson,Seanhaven,148,Nike Beauty Product 148,Nike,Beuty,2,...,31179.51,43775.78,62359.02,-18583.24,0.0,243119.88,170253.42,72866.46,0,0
3054,711,2024-10-12,192,Tina Williams,port richard,185,Puma Books Product 185,Puma,Boks,2,...,23040.23,33640.54,46080.46,-12439.92,0.0,196974.98,153205.29,43769.69,0,0
3055,696,2024-10-02,286,Travis Romero,BRADLEYBURY,50,LG Books Product 50,LG,Boks,1,...,10690.83,7754.88,10690.83,-2935.95,0.0,277422.27,209544.10,67878.17,0,0
3058,563,2024-10-04,25,Robert Leon,north destinymouth,197,Tata Fashion Product 197,Tata,Fashion,2,...,38998.38,59391.06,77996.76,-18605.70,0.0,195865.58,152738.06,43127.52,0,0
3064,929,2024-10-10,390,unknown,WEST JESSICASTAD,136,Sony Beauty Product 136,Sony,Beuty,1,...,13459.06,12657.39,13459.06,-801.67,0.0,159118.77,116363.78,42754.99,1,0
3065,248,2024-10-05,428,John Fields,New Jeffreyhaven,102,Sony Electronics Product 102,Sony,Electronics,1,...,5399.68,3897.03,5399.68,-1502.65,0.0,103512.21,81967.58,21544.63,0,0
3071,594,2024-10-02,265,Nicole Evans,Matthewside,19,Sony Beauty Product 19,Sony,Beuty,3,...,4446.78,10493.76,13340.34,-2846.58,0.0,36765.03,29936.48,6828.55,0,0
3072,399,2024-10-06,423,Catherine Cook,johnsonfurt,71,LG Grocery Product 71,LG,Grocey,2,...,35973.17,48950.52,71946.34,-22995.82,0.0,238102.08,163156.83,74945.25,0,0
3073,644,2024-10-03,27,Emily Shepherd,north amytown,182,Adidas Books Product 182,Adidas,Boks,3,...,22060.94,47665.77,66182.82,-18517.05,0.0,160396.74,130046.67,30350.07,0,0
3074,582,2024-10-02,190,unknown,LAKE MELISSA,46,LG Grocery Product 46,LG,Grocey,2,...,26941.11,37448.06,53882.22,-16434.16,0.0,286624.46,227373.90,59250.56,0,0
3075,213,2024-10-10,36,William Flores,east dianeview,90,Sony Beauty Product 90,Sony,Beuty,3,...,33562.25,78070.26,100686.75,-22616.49,0.0,244070.34,195052.54,49017.80,0,0
3081,116,2024-10-08,17,Mary Daniel,Merritttown,69,Apple Grocery Product 69,Apple,Grocery,2,...,7050.45,10187.50,14100.90,-3913.40,0.0,29771.03,20709.86,9061.17,1,0
3083,345,2024-10-05,357,Robert Frazier,Brianberg,177,Nike Electronics Product 177,Nike,Electronics,2,...,1974.27,3197.36,3948.54,-751.18,0.0,67754.37,56213.09,11541.28,0,0
3091,499,2024-10-09,371,Nicole Navarro,Brendaport,25,Sony Beauty Product 25,Sony,Beuty,1,...,9414.63,6889.55,9414.63,-2525.08,0.0,41693.29,28974.47,12718.82,0,0
3093,927,2024-10-07,463,Andre Combs,Laurashire,156,Dell Toys Product 156,Dell,Toys,1,...,2663.31,1793.55,2663.31,-869.76,0.0,88995.37,69025.83,19969.54,0,0
3095,528,2024-10-10,190,Ronald Sanchez,Lake Melissa,132,Tata Beauty Product 132,Tata,Beuty,2,...,16341.73,16040.32,21646.16,-5605.84,0.0,172396.13,141859.87,30536.26,0,1

In [26]:
df=df.drop_duplicates()

## LETS RECALCULATE THE R.C.P.L.D.  ##

In [27]:
df['item_revenue'] = df['selling_price'] * df['quantity']

C:\Users\sujal\AppData\Local\Temp\ipykernel_2612\1949801330.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['item_revenue'] = df['selling_price'] * df['quantity']

In [29]:
df['item_cost_total'] = df['item_cost'] * df['quantity']

C:\Users\sujal\AppData\Local\Temp\ipykernel_2612\3845813032.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['item_cost_total'] = df['item_cost'] * df['quantity']

In [31]:
df['loss'] = df['item_cost_total'] - df['item_revenue']
df['loss'] = df['loss'].where(df['loss'] > 0, 0)

C:\Users\sujal\AppData\Local\Temp\ipykernel_2612\678764329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['loss'] = df['item_cost_total'] - df['item_revenue']
C:\Users\sujal\AppData\Local\Temp\ipykernel_2612\678764329.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['loss'] = df['loss'].where(df['loss'] > 0, 0)

In [32]:
df.drop('item_cost_total', axis=1, inplace=True)

C:\Users\sujal\AppData\Local\Temp\ipykernel_2612\2083430427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('item_cost_total', axis=1, inplace=True)

In [35]:
df['item_revenue'] = df['selling_price'] * df['quantity']
order_revenue = df.groupby('order_id')['item_revenue'].transform('sum')
df['revenue'] = order_revenue

C:\Users\sujal\AppData\Local\Temp\ipykernel_2612\1561077240.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['item_revenue'] = df['selling_price'] * df['quantity']
C:\Users\sujal\AppData\Local\Temp\ipykernel_2612\1561077240.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['revenue'] = order_revenue

In [37]:
df['item_cost_total'] = df['item_cost'] * df['quantity']
order_cost = df.groupby('order_id')['item_cost_total'].transform('sum')
df['cost'] = order_cost

C:\Users\sujal\AppData\Local\Temp\ipykernel_2612\2494371291.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['item_cost_total'] = df['item_cost'] * df['quantity']
C:\Users\sujal\AppData\Local\Temp\ipykernel_2612\2494371291.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cost'] = order_cost

In [39]:
df['profit'] = df['revenue'] - df['cost']

C:\Users\sujal\AppData\Local\Temp\ipykernel_2612\3949997487.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['profit'] = df['revenue'] - df['cost']

In [ ]:
df.to_csv("D:\jupyter project/cleaned_flip.csv", index=False)